extends layout

block content

  h1 #{title}
  if users.length
    ul
      each user in users
        li: a(href=user.url) !{user.username}
  else
    h4 There are no users yet. Register now to be the first!
